---

---

<!-- Display a horizontal list of company logos that are semi transparent -->
<div class="flex flex-row gap-16 px-8vw py-20 items-center justify-between">
    <div class="w-1/5">
        <img class="semi-transparent" src="/images/twosix.png" alt="Two Six Tech">
    </div>
    <div class="w-1/5">
        <img class="semi-transparent" src="/images/sb.png" alt="SemanticBits">
    </div>
    <div class="w-1/5">
        <img class="semi-transparent" src="/images/daysmart.png" alt="Daysmart">
    </div>
    <div class="w-1/5">
        <img class="semi-transparent" src="/images/cisco.png" alt="Cisco">
    </div>
    <div class="w-1/5">
        <img class="semi-transparent" src="/images/ha.png" alt="Hawaiian Airlines">
    </div>
</div>